.tech-topic-page {
  padding: 5px 5px 5px 5px;

  .header {
    background-color: blue;
  
    .btn-back {
      border-radius: 4px;
      background-color: white;
      margin: 5px 5px 5px 5px;
    }
  }
  
}

